*.dta
*.sas7bdat
*.zip
*.txt
*.xlsx

test.do
test.R

nohup.out
*.log
*.Rproj.user
*.Rproj
.Rhistory
.Rproj.user
test*.csv
pension_health.R

*.smcl
*.feather
tmpdata.do

test_veteran_change.do
check_*.do

r_pilot

*.gz

r_pilot
hilary-hhpct.R
census_benchmark_hinc05.csv
esi_pension.R
scratch*

