*.dta
*.sas7bdat
*.zip
*.txt
*.xlsx

test.do
test.R

nohup.out
*.log
*.Rproj.user
*.Rproj
.Rhistory
.Rproj.user
test*.csv

*.smcl
*.feather
tmpdata.do

r_pilot
hilary-hhpct.R
census_benchmark_hinc05.csv
esi_pension.R
scratch*
poverty_test.R
rounds_list.R
test_ipums.R
test_create_extracts.do

